<%- include ('../partes/header', {session}); %>

<div class="category-title">
 <h1 class="title"><%= catg %></h1>
</div>


<main>

  <section class="cards">
        <% for(var i = 0; i < works.length; i++) { %>
        <div class="card">
            <div class="card__image-container">
                <img src="../subidas/portada/<%= works[i].file %>" alt="mountain">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    <a href="../trabajos?dp=<%= works[i]._id %>&du=<%= works[i].userID %>" class="ir">
                        <strong><%= works[i].publicaciones.tituloTrabajo %></strong>
                    </a>
                </p>
                <div class="card__info">
                  <a href="../perfilView?ud=<%= works[i].userID %>" class="card bg-success text-white" style="margin-right: 15px;"><%= works[i].nombre %></a>
                  <a class="card bg-info text-white"><%= works[i].publicaciones.lugar %></a>
                </div>
                <br>
            </div>
        </div>
        <% } %>
    </section>

</main>

<div class="row">
<!-- pagination -->
<% if(pages > 0) { %> <!-- show pagination if there is pages -->
<nav class="mx-auto">
  <ul class="pagination">
    <!-- FIRST ITEM -->
    <% if(current == 1) { %>
      <li class="page-item disabled">
        <a class="page-link" href="#">First</a>
      </li>
    <% } else { %>
      <li class="page-item">
        <a class="page-link" href="/category/1?v1=<%= catg %>">First</a>
      </li>
    <% } %>
    <!-- ITEMS  -->
    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
    <% if(i !== 1) { %>
      <li class="page-item disabled">
        <a class="page-link" href="#">...</a>
      </li>
    <% } %>
    <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
      <% if(i == current) { %>
        <li class="page-item active">
          <a class="page-link" href="<%= i %>">
            <%= i %>
          </a>
        </li>
      <% } else { %>
        <li class="page-item">
          <a class="page-link" href="/category/<%= i %>?v1=<%= catg %>">
            <%= i %>
          </a>
        </li>
      <% } %>
      <% if (i == Number(current) + 4 && i < pages) { %>
         <li class="page-item disabled">
           <a class="page-link" href="#">...</a>
         </li>
      <% } %>
    <% } %>
    <!-- LAST ITEM -->
    <% if(current == pages) { %>
      <li class="page-item disabled">
        <a class="page-link" href="#">
          Last
        </a>
      </li>
    <% } else { %>
      <li class="page-item">
        <a class="page-link" href="/category/<%= pages %>?v1=<%= catg %>">
          Last
        </a>
      </li>
    <% } %>
  </ul>
</nav>
<% } %>
</div>

<%- include ('footer') %>
