<%- include ('header', {session}); %>
<br><br>
<div class="card-pro">
    <div class="card-header">
        <img class="profile-img" src="../subidas/perfil/<%= userD.file %>" alt="elon">
    </div>

    <div class="card-body">
        <p class="full-name"><%= userD.nombre %> <%= userD.apellido %></p>
         <hr>
        <p class="username">correo: <%= userD.email %></p>
         <hr>
        <p >Teléfono: <strong><%= userD.telefono %></strong></p>
         <hr>
        <p class="desc">Descripción<br><strong><%= userD.desc %></<strong></p><br>
    </div>

    <div class="card-footer">
        <div class="col1">
            <p><span class="count"><%= works.length %></span> Trabajo(s)</p>
        </div>
    </div>
</div>

<main>

  <section class="cards">
        <% for(var i = 0; i < works.length; i++) { %>
        <div class="card">
            <div class="card__image-container">
                <img src="../subidas/portada/<%= works[i].file %>" alt="mountain">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    <a href="../trabajos?dp=<%= works[i]._id %>&du=<%= works[i].userID %>" class="ir">
                        <strong><%= works[i].publicaciones.tituloTrabajo %></strong>
                    </a>
                </p>
                <div class="card__info">
                  <a href="../perfilView?ud=<%= works[i].userID %>" class="card bg-success text-white" style="margin-right: 15px;"><%= works[i].nombre %></a>
                  <a class="card bg-info text-white"><%= works[i].publicaciones.lugar %></a>
                </div>
                <br>
            </div>
        </div>
        <% } %>
    </section>
</main>
<%- include ('footer') %>
